.footer {
  background-color: $accent-bg-color;
  color: $primary-bg-color;

  &__container {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
  }

  &__contacts {
    @extend %list;
    margin-top: 20px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
  }

  &__contact:not(:last-child) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: $tablet) {
    &__links {
      display: flex;
      justify-content: space-around;
    }
  }

  @media screen and (min-width: $desktop) {
    &__container {
      display: flex;
      text-align: left;
    }

    &__contact:not(:last-child) {
      margin-bottom: 9px;
    }

    &__contacts {
      margin-right: 72px;
    }
  }
}
