.footer {
  background-color: $accent-bg-color;
  color: $primary-bg-color;

  &__container {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__contacts {
    @extend %list;
    margin-top: 20px;
    margin-right: 72px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
  }

  &__contact:not(:last-child) {
    margin-bottom: 9px;
  }
}
