.logo {
  @extend .link;

  font-family: $logo-font-family;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  color: $title-text-color;
}

.logo--accent {
  color: $accent-color;
}

@media screen and (min-width: $desktop) {
  .logo {
    margin-right: 92px;
    font-size: 26px;
    line-height: 1.19;
  }
}
